.bg-clr-menu {
    background-color: var(--bg-menu-left) !important;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

#winning {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin: 0;
}

#winning img {
    height: 10rem;
}

.winning {
    animation: slide-in 1s forwards;
}

@keyframes slide-in {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.my_rounded_a {
    border-radius: 1rem 1rem 0 0;
}

.my_rounded_b {
    border-radius: 0 0 1rem 1rem !important;
}

.my_absolute_position {
    top: 80% !important;
    left: 70% !important;
    right: 10% !important;
    translate: -50% -50% !important;
}

.bg_img {
    background: url(./assets/img/brainbg.jpg) no-repeat center / cover;
}
